@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-image: url("loginImage10.jpg");
   
}
.container{
    font-family: 'Poppins', sans-serif;
    background-color:#00334d;
    
}
.col-md-6{
box-shadow: 50px;
border:10px;

} 
.box{
    
    /*background-image: url("loginImage6.jpg");*/
    padding:20px;
}
.text-center{
    color:violet;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    
}
.form-control{
    border-radius: 100px;
}
#emailHelp{
    border-radius: 350px;
}
.avatar{
    
   
}
.form-group{
    border-radius: 100px;
}
.form-check{
    display:inline;
}
.psw a{
    float:right;
    color:violet;
}
button{
    background-color:#f2f2f2;
    padding:10px;
    border-radius: 12px;
    color:black;
    width:100%;
    transition:0.4s;
}
.butn{
    border-radius: 12px;
    border-color: rgb(245, 67, 141);
}
button:hover{
    background-color: #ffe6ff;
    color:rgb(236, 72, 195);
    font-weight: bold;
}

.row-mb-3{
    background-color: black;
}
/*body{
    background-image: url("loginImage.jpg");
}*/
